{
  "Target_Groups_Dynamic_Assignment": [
    {
      "DisplayName": "Entra-SSPR-Registration-Dynamic",
      "Description": "Target Users for MFA registration",
      "GroupQuery": "(user.objectId -ne null) and (user.accountEnabled -eq true) and (user.displayName -ne \"On-Premises Directory Synchronization Service Account\") and ((user.extensionAttribute7 -in [\"Internal_User_AD_Synced_MFA\",\"Internal_User_Cloud_MFA\",\"External_User_AD_Synced_MFA\",\"External_User_Cloud_MFA\",\"NonManaged_User_AD_Synced_MFA\",\"NonManaged_User_Cloud_MFA\",\"Internal_Admin_AD_Synced_MFA\",\"Internal_Admin_Cloud_MFA\",\"External_Admin_AD_Synced_MFA\",\"External_Admin_Cloud_MFA\",\"AppSystem_Test_User_AD_Synced_MFA\",\"AppSystem_Test_User_Cloud_MFA\",\"Guest_MFA\",\"Teams_Room_AD_Synced_MFA\",\"Teams_Room_Cloud_MFA\",\"Shared_Device_User_AD_Synced_MFA\",\"Shared_Device_User_Cloud_MFA\",\"Shared_Mail_User_AD_Synced_MFA\",\"Shared_Mail_User_Cloud_MFA\",\"Service_Account_AD_Synced_MFA\",\"Service_Account_Cloud_MFA\",\"Break_Glass_Account_AD_Synced_MFA\",\"Break_Glass_Account_Cloud_MFA\"]) or (user.extensionAttribute7 -eq null)) or (user.userType -eq \"Guest\")",
      "VariableName": "SSPR_All"
    },
    {
      "DisplayName": "Entra-CA-ADConnect-Accounts-All-Dynamic",
      "Description": "Target Users for Entra-CA-ADConnect-Accounts",
      "GroupQuery": "(user.displayName -eq \"On-Premises Directory Synchronization Service Account\")",
      "VariableName": "ADConnect_All"
    },
    {
      "DisplayName": "Entra-CA-BreakGlassAccounts-All-Dynamic",
      "Description": "All Break Glass Accounts",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute6 -in [\"Break_Glass_Account\"])",
      "VariableName": "BreakGlassAccounts_All"
    },
    {
      "DisplayName": "Entra-CA-BreakGlassAccounts-Req-MFA-All-Dynamic",
      "Description": "Target Users for Entra-CA-BreakGlassAccounts-Req-MFA",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Break_Glass_Account_AD_Synced_MFA\",\"Break_Glass_Account_Cloud_MFA\"])",
      "VariableName": "BreakGlassAccounts_MFA_All"
    },
    {
      "DisplayName": "Entra-CA-BreakGlassAccounts-Req-FIDO-All-Dynamic",
      "Description": "Target Users for Entra-CA-BreakGlassAccounts-Req-FIDO",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Break_Glass_Account_AD_Synced_FIDO\",\"Break_Glass_Account_Cloud_FIDO\"])",
      "VariableName": "BreakGlassAccounts_FIDO_All"
    },
    {
      "DisplayName": "Entra-CA-Admins-All-Dynamic",
      "Description": "Target Users for Entra-CA-Admins",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute6 -in [\"Internal_Admin\",\"External_Admin\"])",
      "VariableName": "Admins_All"
    },
    {
      "DisplayName": "Entra-CA-Admins-External-All-Dynamic",
      "Description": "Target Users for Entra-CA-Admins-External",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute6 -in [\"External_Admin\"])",
      "VariableName": "Admins_External_All"
    },
    {
      "DisplayName": "Entra-CA-Admins-Internal-All-Dynamic",
      "Description": "Target Users for Entra-CA-Admins-Internal",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute6 -in [\"Internal_Admin\"])",
      "VariableName": "Admins_Internal_All"
    },
    {
      "DisplayName": "Entra-CA-Admins-Internal-Req-FIDO-All-Dynamic",
      "Description": "Target Users for Entra-CA-Admins-Internal-Req-FIDO",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Internal_Admin_AD_Synced_FIDO\",\"Internal_Admin_Cloud_FIDO\"])",
      "VariableName": "Admins_Internal_FIDO_All"
    },
    {
      "DisplayName": "Entra-CA-Admins-Internal-Req-MFA-All-Dynamic",
      "Description": "Target Users for Entra-CA-Admins-Internal-Req-MFA",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Internal_Admin_AD_Synced_MFA\",\"Internal_Admin_Cloud_MFA\"])",
      "VariableName": "Admins_Internal_MFA_All"
    },
    {
      "DisplayName": "Entra-CA-Admins-External-Req-FIDO-All-Dynamic",
      "Description": "Target Users for Entra-CA-Admins-External-Req-FIDO",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"External_Admin_AD_Synced_FIDO\",\"External_Admin_Cloud_FIDO\"])",
      "VariableName": "Admins_External_FIDO_All"
    },
    {
      "DisplayName": "Entra-CA-Admins-External-Req-MFA-All-Dynamic",
      "Description": "Target Users for Entra-CA-Admins-External-Req-MFA",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"External_Admin_AD_Synced_MFA\",\"External_Admin_Cloud_MFA\"])",
      "VariableName": "Admins_External_MFA_All"
    },
    {
      "DisplayName": "Entra-CA-Guests-All-Dynamic",
      "Description": "Target Users for Entra-CA-Guests",
      "GroupQuery": "(user.extensionAttribute6 -in [\"External_Guest\"])",
      "VariableName": "Guests_All"
    },
    {
      "DisplayName": "Entra-CA-Guests-Req-MFA-All-Dynamic",
      "Description": "Target Users for Entra-CA-Guests-Req-MFA",
      "GroupQuery": "(user.extensionAttribute7 -in [\"Guest_MFA\"])",
      "VariableName": "Guests_MFA_All"
    },
    {
      "DisplayName": "Entra-CA-ServiceAccounts-All-Dynamic",
      "Description": "Target Users for Entra-CA-ServiceAccounts",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute6 -in [\"Service_Account\"])",
      "VariableName": "ServiceAccounts_All"
    },
    {
      "DisplayName": "Entra-CA-ServiceAccounts-Req-FIDO-All-Dynamic",
      "Description": "Target Users for Entra-CA-ServiceAccounts-Req-FIDO",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Service_Account_AD_Synced_FIDO\",\"Service_Account_Cloud_FIDO\"])",
      "VariableName": "ServiceAccounts_FIDO_All"
    },
    {
      "DisplayName": "Entra-CA-ServiceAccounts-Req-Pwd-All-Dynamic",
      "Description": "Target Users for Entra-CA-ServiceAccounts-Req-Pwd",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Service_Account_AD_Synced_Pwd\",\"Service_Account_Cloud_Pwd\"])",
      "VariableName": "ServiceAccounts_Pwd_All"
    },
    {
      "DisplayName": "Entra-CA-ServiceAccounts-Req-MFA-All-Dynamic",
      "Description": "Target Users for Entra-CA-ServiceAccounts-Req-MFA",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Service_Account_AD_Synced_MFA\",\"Service_Account_Cloud_MFA\"])",
      "VariableName": "ServiceAccounts_MFA_All"
    },
    {
      "DisplayName": "Entra-CA-Shared-Device-Users-All-Dynamic",
      "Description": "Target Users for Entra-CA-Shared-Device-Users",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute6 -in [\"Shared_Device_User\"])",
      "VariableName": "Shared_Device_Users_All"
    },
    {
      "DisplayName": "Entra-CA-Shared-Device-Users-Req-FIDO-All-Dynamic",
      "Description": "Target Users for Entra-CA-Shared-Device-Users-Req-FIDO",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Shared_Device_User_AD_Synced_FIDO\",\"Shared_Device_User_Cloud_FIDO\"])",
      "VariableName": "Shared_Device_Users_FIDO_All"
    },
    {
      "DisplayName": "Entra-CA-Shared-Device-Users-Req-Pwd-All-Dynamic",
      "Description": "Target Users for Entra-CA-Shared-Device-Users-Req-Pwd",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Shared_Device_User_AD_Synced_Pwd\",\"Shared_Device_User_Cloud_Pwd\"])",
      "VariableName": "Shared_Device_Users_Pwd_All"
    },
    {
      "DisplayName": "Entra-CA-Shared-Device-Users-Req-WHfB-All-Dynamic",
      "Description": "Target Users for Entra-CA-Shared-Device-Users-Req-WHfB",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Shared_Device_User_AD_Synced_WHfB\",\"Shared_Device_User_Cloud_WHfB\"])",
      "VariableName": "Shared_Device_Users_WHfB_All"
    },
    {
      "DisplayName": "Entra-CA-Shared-Device-Users-Req-MFA-All-Dynamic",
      "Description": "Target Users for Entra-CA-Shared-Device-Users-Req-MFA",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Shared_Device_User_AD_Synced_MFA\",\"Shared_Device_User_Cloud_MFA\"])",
      "VariableName": "Shared_Device_Users_MFA_All"
    },
    {
      "DisplayName": "Entra-CA-Shared-Mail-Users-All-Dynamic",
      "Description": "Target Users for Entra-CA-Shared-Mail-Users",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute6 -in [\"Shared_Mail_User\"])",
      "VariableName": "Shared_Mail_Users_All"
    },
    {
      "DisplayName": "Entra-CA-Shared-Mail-Users-Req-FIDO-All-Dynamic",
      "Description": "Target Users for Entra-CA-Shared-Mail-Users-Req-FIDO",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Shared_Mail_User_AD_Synced_FIDO\",\"Shared_Mail_User_Cloud_FIDO\"])",
      "VariableName": "Shared_Mail_Users_FIDO_All"
    },
    {
      "DisplayName": "Entra-CA-Shared-Mail-Users-Req-Pwd-All-Dynamic",
      "Description": "Target Users for Entra-CA-Shared-Mail-Users-Req-Pwd",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Shared_Mail_User_AD_Synced_Pwd\",\"Shared_Mail_User_Cloud_Pwd\"])",
      "VariableName": "Shared_Mail_Users_Pwd_All"
    },
    {
      "DisplayName": "Entra-CA-Shared-Mail-Users-Req-MFA-All-Dynamic",
      "Description": "Target Users for Entra-CA-Shared-Mail-Users-Req-MFA",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Shared_Mail_User_AD_Synced_MFA\",\"Shared_Mail_User_Cloud_MFA\"])",
      "VariableName": "Shared_Mail_Users_MFA_All"
    },
    {
      "DisplayName": "Entra-CA-Shared-Mail-Users-Req-WHfB-All-Dynamic",
      "Description": "Target Users for Entra-CA-Shared-Mail-Users-Req-WHfB",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Shared_Mail_User_AD_Synced_WHfB\",\"Shared_Mail_User_Cloud_WHfB\"])",
      "VariableName": "Shared_Mail_Users_WHfB_All"
    },
    {
      "DisplayName": "Entra-CA-Teams-Rooms-All-Dynamic",
      "Description": "Target Users for Entra-CA-Teams-Rooms",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute6 -in [\"Teams_Room\"])",
      "VariableName": "Teams_Rooms_All"
    },
    {
      "DisplayName": "Entra-CA-Teams-Rooms-Req-FIDO-All-Dynamic",
      "Description": "Target Users for Entra-CA-Teams-Rooms-Req-FIDO",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Teams_Room_AD_Synced_FIDO\",\"Teams_Room_Cloud_FIDO\"])",
      "VariableName": "Teams_Rooms_FIDO_All"
    },
    {
      "DisplayName": "Entra-CA-Teams-Rooms-Req-Pwd-All-Dynamic",
      "Description": "Target Users for Entra-CA-Teams-Rooms-Req-Pwd",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Teams_Room_AD_Synced_Pwd\",\"Teams_Room_Cloud_Pwd\"])",
      "VariableName": "Teams_Rooms_Pwd_All"
    },
    {
      "DisplayName": "Entra-CA-Teams-Rooms-Req-WHfB-All-Dynamic",
      "Description": "Target Users for Entra-CA-Teams-Rooms-Req-WHfB",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Teams_Room_AD_Synced_WHfB\",\"Teams_Room_Cloud_WHfB\"])",
      "VariableName": "Teams_Rooms_WHfB_All"
    },
    {
      "DisplayName": "Entra-CA-Teams-Rooms-Req-MFA-All-Dynamic",
      "Description": "Target Users for Entra-CA-Teams-Rooms-Req-MFA",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Teams_Room_AD_Synced_MFA\",\"Teams_Room_Cloud_MFA\"])",
      "VariableName": "Teams_Rooms_MFA_All"
    },
    {
      "DisplayName": "Entra-CA-AppSystem-Test-Users-All-Dynamic",
      "Description": "Target Users for Entra-CA-AppSystem-Test-Users",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute6 -in [\"AppSystem_Test_User\"])",
      "VariableName": "AppSystem_Test_Users_All"
    },
    {
      "DisplayName": "Entra-CA-AppSystem-Test-Users-Req-FIDO-All-Dynamic",
      "Description": "Target Users for Entra-CA-AppSystem-Test-Users-Req-FIDO",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"AppSystem_Test_User_AD_Synced_FIDO\",\"AppSystem_Test_User_Cloud_FIDO\"])",
      "VariableName": "AppSystem_Test_Users_FIDO_All"
    },
    {
      "DisplayName": "Entra-CA-AppSystem-Test-Users-Req-Pwd-All-Dynamic",
      "Description": "Target Users for Entra-CA-AppSystem-Test-Users-Req-Pwd",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"AppSystem_Test_User_AD_Synced_Pwd\",\"AppSystem_Test_User_Cloud_Pwd\"])",
      "VariableName": "AppSystem_Test_Users_Pwd_All"
    },
    {
      "DisplayName": "Entra-CA-AppSystem-Test-Users-Req-WHfB-All-Dynamic",
      "Description": "Target Users for Entra-CA-AppSystem-Test-Users-Req-WHfB",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"AppSystem_Test_User_AD_Synced_WHfB\",\"AppSystem_Test_User_Cloud_WHfB\"])",
      "VariableName": "AppSystem_Test_Users_WHfB_All"
    },
    {
      "DisplayName": "Entra-CA-AppSystem-Test-Users-Req-MFA-All-Dynamic",
      "Description": "Target Users for Entra-CA-AppSystem-Test-Users-Req-MFA",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"AppSystem_Test_User_AD_Synced_MFA\",\"AppSystem_Test_User_Cloud_MFA\"])",
      "VariableName": "AppSystem_Test_Users_MFA_All"
    },
    {
      "DisplayName": "Entra-CA-Users-All-Dynamic",
      "Description": "Target Users for Entra-CA-Users",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute6 -in [\"Internal_User\",\"External_User\",\"NonManaged_User\"])",
      "VariableName": "Users_All"
    },
    {
      "DisplayName": "Entra-CA-Users-Internal-All-Dynamic",
      "Description": "Target Users for Entra-CA-Users-Internal",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute6 -in [\"Internal_User\"])",
      "VariableName": "Users_Internal_All"
    },
    {
      "DisplayName": "Entra-CA-Users-Internal-Req-MFA-All-Dynamic",
      "Description": "Target Users for Entra-CA-Users-Internal-Req-MFA",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Internal_User_AD_Synced_MFA\",\"Internal_User_Cloud_MFA\"])",
      "VariableName": "Users_Internal_MFA_All"
    },
    {
      "DisplayName": "Entra-CA-Users-External-All-Dynamic",
      "Description": "Target Users for Entra-CA-Users-External",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute6 -in [\"External_User\"])",
      "VariableName": "Users_External_All"
    },
    {
      "DisplayName": "Entra-CA-Users-External-Req-MFA-All-Dynamic",
      "Description": "Target Users for Entra-CA-Users-External-Req-MFA",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"External_User_AD_Synced_MFA\",\"External_User_Cloud_MFA\"])",
      "VariableName": "Users_External_MFA_All"
    },
    {
      "DisplayName": "Entra-CA-Users-NonManaged-All-Dynamic",
      "Description": "Target Users for Entra-CA-Users-NonManaged",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute6 -in [\"NonManaged_User\"])",
      "VariableName": "Users_NonManaged_All"
    },
    {
      "DisplayName": "Entra-CA-Users-NonManaged-Req-MFA-All-Dynamic",
      "Description": "Target Users for Entra-CA-Users-NonManaged-Req-MFA",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"NonManaged_User_AD_Synced_MFA\",\"NonManaged_User_Cloud_MFA\"])",
      "VariableName": "Users_NonManaged_MFA_All"
    },
    {
      "DisplayName": "Entra-CA-Users-Developers-All-Dynamic",
      "Description": "Target Users for Entra-CA-Developers",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute6 -in [\"Internal_Developer\",\"External_Developer\"])",
      "VariableName": "Users_Developers_All"
    },
    {
      "DisplayName": "Entra-CA-Users-Internal-Developers-All-Dynamic",
      "Description": "Target Users for Entra-CA-Users-Internal-Developers",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute6 -in [\"Internal_Developer\"])",
      "VariableName": "Users_Internal_Developers_All"
    },
    {
      "DisplayName": "Entra-CA-Users-Internal-Developers-Req-MFA-All-Dynamic",
      "Description": "Target Users for Entra-CA-Users-Internal-Developers-Req-MFA",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"Internal_Developer_AD_Synced_MFA\",\"Internal_Developer_Cloud_MFA\"])",
      "VariableName": "Users_Internal_Developers_MFA_All"
    },
    {
      "DisplayName": "Entra-CA-Users-External-Developers-All-Dynamic",
      "Description": "Target Users for Developers-CA-Users-External",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute6 -in [\"External_Developer\"])",
      "VariableName": "Users_External_Developers_All"
    },
    {
      "DisplayName": "Entra-CA-Users-External-Developers-Req-MFA-All-Dynamic",
      "Description": "Target Users for Entra-CA-Users-External-Developers-Req-MFA",
      "GroupQuery": "(user.accountEnabled -eq true) and (user.extensionAttribute7 -in [\"External_Developer_AD_Synced_MFA\",\"External_Developer_Cloud_MFA\"])",
      "VariableName": "Users_External_Developers_MFA_All"
    }
  ],
"Target_Groups_Manual_Assignment": [
    {
        "DisplayName": "Entra-CA-ADConnect-Accounts-All-Assigned",
        "Description": "AD Connect Users",
        "VariableName": "ADConnect_All"
    },
    {
        "DisplayName": "Entra-CA-BreakGlassAccounts-All-Assigned",
        "Description": "All Break Glass Accounts",
        "VariableName": "BreakGlassAccounts_All"
    },
    {
        "DisplayName": "Entra-CA-BreakGlassAccounts-Req-MFA-All-Assigned",
        "Description": "All Break Glass Accounts with MFA",
        "VariableName": "BreakGlassAccounts_MFA_All"
    },
    {
        "DisplayName": "Entra-CA-BreakGlassAccounts-Req-FIDO-All-Assigned",
        "Description": "All Break Glass Accounts with FIDO",
        "VariableName": "BreakGlassAccounts_FIDO_All"
    },
    {
        "DisplayName": "Entra-CA-Admins-All-Assigned",
        "Description": "All Admins",
        "VariableName": "Admins_All"
    },
    {
        "DisplayName": "Entra-CA-Admins-External-All-Assigned",
        "Description": "All External Admins",
        "VariableName": "Admins_External_All"
    },
    {
        "DisplayName": "Entra-CA-Admins-External-Req-MFA-All-Assigned",
        "Description": "All External Admins with MFA",
        "VariableName": "Admins_External_MFA_All"
    },
    {
        "DisplayName": "Entra-CA-Admins-External-Req-FIDO-All-Assigned",
        "Description": "All External Admins with FIDO",
        "VariableName": "Admins_External_FIDO_All"
    },
    {
        "DisplayName": "Entra-CA-Admins-Internal-All-Assigned",
        "Description": "All Internal Admins",
        "VariableName": "Admins_Internal_All"
    },
    {
        "DisplayName": "Entra-CA-Admins-Internal-Req-MFA-All-Assigned",
        "Description": "All Internal Admins with MFA",
        "VariableName": "Admins_Internal_MFA_All"
    },
    {
        "DisplayName": "Entra-CA-Admins-Internal-Req-FIDO-All-Assigned",
        "Description": "All Internal Admins with FIDO",
        "VariableName": "Admins_Internal_FIDO_All"
    },
    {
        "DisplayName": "Entra-CA-Guests-All-Assigned",
        "Description": "All Guests",
        "VariableName": "Guests_All"
    },
    {
        "DisplayName": "Entra-CA-Guests-Req-MFA-All-Assigned",
        "Description": "All Guests with MFA",
        "VariableName": "Guests_MFA_All"
    },
    {
        "DisplayName": "Entra-CA-ServiceAccounts-All-Assigned",
        "Description": "All Service Accounts",
        "VariableName": "ServiceAccounts_All"
    },
    {
        "DisplayName": "Entra-CA-ServiceAccounts-Req-MFA-All-Assigned",
        "Description": "All Service Accounts with MFA",
        "VariableName": "ServiceAccounts_MFA_All"
    },
    {
        "DisplayName": "Entra-CA-ServiceAccounts-Req-FIDO-All-Assigned",
        "Description": "All Service Accounts with FIDO",
        "VariableName": "ServiceAccounts_FIDO_All"
    },
    {
        "DisplayName": "Entra-CA-ServiceAccounts-Req-Pwd-All-Assigned",
        "Description": "All Service Accounts with Pwd",
        "VariableName": "ServiceAccounts_Pwd_All"
    },
    {
        "DisplayName": "Entra-CA-Shared-Device-Users-All-Assigned",
        "Description": "All Shared Device Users",
        "VariableName": "Shared_Device_Users_All"
    },
    {
        "DisplayName": "Entra-CA-Shared-Device-Users-Req-FIDO-All-Assigned",
        "Description": "All Shared Device Users with FIDO",
        "VariableName": "Shared_Device_Users_FIDO_All"
    },
    {
        "DisplayName": "Entra-CA-Shared-Device-Users-Req-Pwd-All-Assigned",
        "Description": "All Shared Device Users with Pwd",
        "VariableName": "Shared_Device_Users_Pwd_All"
    },
    {
        "DisplayName": "Entra-CA-Shared-Device-Users-Req-WHfB-All-Assigned",
        "Description": "All Shared Device Users with WHfB",
        "VariableName": "Shared_Device_Users_WHfB_All"
    },
    {
        "DisplayName": "Entra-CA-Shared-Device-Users-Req-MFA-All-Assigned",
        "Description": "All Shared Device Users with MFA",
        "VariableName": "Shared_Device_Users_MFA_All"
    },
    {
        "DisplayName": "Entra-CA-Shared-Mail-Users-All-Assigned",
        "Description": "All Shared Mail Users",
        "VariableName": "Shared_Mail_Users_All"
    },
    {
        "DisplayName": "Entra-CA-Shared-Mail-Users-Req-MFA-All-Assigned",
        "Description": "All Shared Mail Users with MFA",
        "VariableName": "Shared_Mail_Users_MFA_All"
    },
    {
        "DisplayName": "Entra-CA-Shared-Mail-Users-Req-Pwd-All-Assigned",
        "Description": "All Shared Mail Users with Pwd",
        "VariableName": "Shared_Mail_Users_Pwd_All"
    },
    {
        "DisplayName": "Entra-CA-Shared-Mail-Users-Req-FIDO-All-Assigned",
        "Description": "All Shared Mail Users with FIDO",
        "VariableName": "Shared_Mail_Users_FIDO_All"
    },
    {
        "DisplayName": "Entra-CA-Shared-Mail-Users-Req-WHfB-All-Assigned",
        "Description": "All Shared Mail Users with WHfB",
        "VariableName": "Shared_Mail_Users_WHfB_All"
    },
    {
        "DisplayName": "Entra-CA-Teams-Rooms-All-Assigned",
        "Description": "All Teams Rooms",
        "VariableName": "Teams_Rooms_All"
    },
    {
        "DisplayName": "Entra-CA-Teams-Rooms-Req-MFA-All-Assigned",
        "Description": "All Teams Rooms with MFA",
        "VariableName": "Teams_Rooms_MFA_All"
    },
    {
        "DisplayName": "Entra-CA-Teams-Rooms-Req-Pwd-All-Assigned",
        "Description": "All Teams Rooms with Pwd",
        "VariableName": "Teams_Rooms_Pwd_All"
    },
    {
        "DisplayName": "Entra-CA-Teams-Rooms-Req-FIDO-All-Assigned",
        "Description": "All Teams Rooms with FIDO",
        "VariableName": "Teams_Rooms_FIDO_All"
    },
    {
        "DisplayName": "Entra-CA-Teams-Rooms-Req-WHfB-All-Assigned",
        "Description": "All Teams Rooms with WHfB",
        "VariableName": "Teams_Rooms_WHfB_All"
    },
    {
        "DisplayName": "Entra-CA-Users-All-Assigned",
        "Description": "All Users",
        "VariableName": "Users_All"
    },
    {
        "DisplayName": "Entra-CA-Users-Internal-All-Assigned",
        "Description": "All Internal Users",
        "VariableName": "Users_Internal_All"
    },
    {
        "DisplayName": "Entra-CA-Users-Internal-Req-MFA-All-Assigned",
        "Description": "All Users with MFA",
        "VariableName": "Users_Internal_MFA_All"
    },
    {
        "DisplayName": "Entra-CA-Users-External-All-Assigned",
        "Description": "All External Users",
        "VariableName": "Users_External_All"
    },
    {
        "DisplayName": "Entra-CA-Users-External-Req-MFA-All-Assigned",
        "Description": "All Users with MFA",
        "VariableName": "Users_External_MFA_All"
    },
    {
        "DisplayName": "Entra-CA-Users-Developers-All-Assigned",
        "Description": "All Developers Users",
        "VariableName": "Users_Developers_All"
    },
    {
        "DisplayName": "Entra-CA-Users-Internal-Developers-All-Assigned",
        "Description": "All Internal Developers",
        "VariableName": "Users_Internal_Developers_All"
    },
    {
        "DisplayName": "Entra-CA-Users-Internal-Developers-Req-MFA-All-Assigned",
        "Description": "All Internal Developers with MFA",
        "VariableName": "Users_Internal_Developers_MFA_All"
    },
    {
        "DisplayName": "Entra-CA-Users-External-Developers-All-Assigned",
        "Description": "All External Developers",
        "VariableName": "Users_External_Developers_All"
    },
    {
        "DisplayName": "Entra-CA-Users-External-Developers-Req-MFA-All-Assigned",
        "Description": "All External Developers with MFA",
        "VariableName": "Users_External_Developers_MFA_All"
    },
    {
        "DisplayName": "Entra-CA-Users-NonManaged-All-Assigned",
        "Description": "All NonManaged Users",
        "VariableName": "Users_NonManaged_All"
    },
    {
        "DisplayName": "Entra-CA-Users-NonManaged-Req-MFA-All-Assigned",
        "Description": "All NonManaged Users with MFA",
        "VariableName": "Users_NonManaged_MFA_All"
    },
    {
        "DisplayName": "Entra-CA-AppSystem-Test-Users-All-Assigned",
        "Description": "All AppSystemTest Users",
        "VariableName": "AppSystem_Test_Users_All"
    },
    {
        "DisplayName": "Entra-CA-AppSystem-Test-Users-Req-MFA-All-Assigned",
        "Description": "All AppSystem-Test-Users with MFA",
        "VariableName": "AppSystem_Test_Users_MFA_All"
    },
    {
        "DisplayName": "Entra-CA-AppSystem-Test-Users-Req-Pwd-All-Assigned",
        "Description": "All AppSystem Test Users with Pwd",
        "VariableName": "AppSystem_Test_Users_Pwd_All"
    },
    {
        "DisplayName": "Entra-CA-AppSystem-Test-Users-Req-FIDO-All-Assigned",
        "Description": "All AppSystem Test Users with FIDO",
        "VariableName": "AppSystem_Test_Users_FIDO_All"
    },
    {
        "DisplayName": "Entra-CA-AppSystem-Test-Users-Req-WHfB-All-Assigned",
        "Description": "All AppSystem Test Users with WHfB",
        "VariableName": "AppSystem_Test_Users_WHfB_All"
    }
]
}
