{
  "Path_CA_Scripts_Active": "CA-Scripts-Active",
  "Path_CA_Scripts_Github_Latest_Inbound": "CA-Scripts-Github-Latest-Inbound",
  "Group_Targeting_Method": "Dynamic_Using_Tags",
  "Authentication_Strength_Default_FIDO_Name": "FIDO Security Key & TAP",
  "Authentication_Strength_Default_WHfB_Name": "WHfB + TAP",
  "Named_Locations_Denied_Countries_Name": "Denied Countries sign-ins",
  "BreakGlassAccounts": [
    {
      "UserPrincipalName": "BGA-0-L0-T0-ID@mytenant.onmicrosoft.com",
      "DisplayName": "Break Glass Account 0 (Entra ID)",
      "AuthenticationMethod": "MFA",
      "ClassificationTagValue": "BreakGlassAccount",
      "AuthenticationTagValue": "BreakGlassAccount_Cloud_MFA"
    },
    {
      "UserPrincipalName": "BGA-1-L0-T0-ID@mytenant.onmicrosoft.com",
      "DisplayName": "Break Glass Account 1 (Entra ID)",
      "AuthenticationMethod": "FIDO",
      "ClassificationTagValue": "BreakGlassAccount",
      "AuthenticationTagValue": "BreakGlassAccount_Cloud_FIDO"
    },
    {
      "UserPrincipalName": "BGA-2-L0-T0-ID@mytenant.onmicrosoft.com",
      "DisplayName": "Break Glass Account 2 (Entra ID)",
      "AuthenticationMethod": "FIDO",
      "ClassificationTagValue": "BreakGlassAccount",
      "AuthenticationTagValue": "BreakGlassAccount_Cloud_FIDO"
    }
  ]
}
